//-------------------------------//
//-------------------INDEX---------------------//
.sec-content{
  height: 100%;
  padding-top: 54px;
  padding-bottom: 54px;
  .container-fluid{
    height: 100%;
    .row{
      height: 100%;
      aside{
        background-color: $scd-clr;
        height: 100%;
        position: fixed;
        width: 280px;
        .logo{
          display: flex;
          justify-content: center;
          height: 25%;
          align-items: center;
        }
        .menu{
          /* overflow-y: scroll; */
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          ul{
            list-style-type: none;
            text-align: center;
            margin: 0;
            height: auto;
            margin-top: 35px;
            margin-bottom: 35px;
            li{
              margin-bottom: 30px;
              a{
                text-decoration: none;
                color: $txt-white;
                font-size: $menu-font;
                position: relative;
                text-transform: capitalize;
              }
              a.active{
                &:after{
                  content: '';
                  width: 100%;
                  height: 1px;

                  background-color: #fff;
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                }
              }
            }
          }
        }
      }
      #fullpage{
        height: 100%;
        margin-left: 280px;
        .section{
          height: 100%;
          position: relative;
          .just-one{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            margin-top: calc(2 * -54px);
            position: relative;
            .caption{
              position: absolute;
              bottom: 8%;
              left: 6%;
              width: 100%;
              //min-height: 256px;
              h1{
                color: #fff;
                font-size: 40px;
                margin-bottom: 50px;
                text-transform: capitalize;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                span{
                  display: block;
                  margin-bottom: 20px;
                }
              }
              .just-one-register{
                font-size: 32px;
                text-transform: capitalize;
                background-color: #0773bb;
                color: #fff;
                border-radius: 0;
                width: 430px;
                height: 130px;
              }
            }
          }
          .caption-mobile{
            display: none;
          }
          .skils{
            margin-top: 110px!important;
            .skils-img{
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              margin-bottom: 20px;
              min-height: 200px;
            }
            .statics{
              text-align: center;
              .progress_counter{
                text-align: center;
                font-size: 28px;
              }
              h6{
                font-size: 22px;
                color: #0860a8;
                text-transform: capitalize;
              }
              p{
                color: #000;
                font-size: 16px;
              }
            }
          }
          .row{
            width: 100%;
            margin: 0;
            height: 100%;
            .section-content{
              height: 100%;
              padding-top: 100px;
              padding-left: 6%;
              padding-right: calc(6% - 15px);
              position: relative;
              padding-bottom: 40px;
              h1{
                font-family: 'font-bold';
                margin-bottom: 60px;
                font-size: $extra-font;
                letter-spacing: 4px;
                text-transform: capitalize;
                span{
                  color: $scd-clr;
                }
              }
              .tutors-nav{
                margin-bottom: 50px;
                .nav-pills{
                  margin-bottom: 8rem !important;
                  .nav-item{
                    .nav-link{
                      padding: 0;
                      margin-right: 60px;
                      color: $special-clr;
                      font-size: 20px;
                    }
                    .nav-link.active{
                      color: $active-pills;
                      background-color: transparent;
                    }
                  }
                }
                .tab-content{
                  .tab-pane{
                    .removed-row{
                      height: 100%;
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-around;
                      .teacher{
                        margin: 0 40px;
                        .blue-border{
                          height: 190px;
                          width: 190px;
                          box-shadow: 0 0 0 1px #0665a5;
                          transform: rotate(45deg);
                          overflow: hidden;
                          border-radius: 6px;
                          margin: auto;
                          border: 10px solid transparent;
                          display: block;
                          .teacher-img{
                            overflow: hidden;
                            height: 100%;
                            width: 100%;
                            border-radius: 10px;
                            position: relative;
                            img{
                              left: 50%;
                              width: 240px;
                              height: 240px;
                              position: absolute;
                              top: 50%;
                              transform: translate(-50%, -50%) rotate(-45deg);
                            }
                          }
                        }
                        .teacher-info{
                          margin-top: 65px;
                          text-align: center;
                          margin-bottom: 0;
                          a{
                            font-size: $menu-font;
                            color: #212529;
                            display: block;
                            text-transform: capitalize;
                          }
                          p{
                            font-size: $artical-font;
                            color: $article-clr;
                            text-transform: capitalize;
                          }
                        }
                      }
                    }
                  }
                }
              }
              button{
                font-size: $md-font;
                text-transform: capitalize;
                background-color: $scd-clr;
                color: #fff;
                padding: 10px 45px;
                border-radius: 0;
                margin: 0 auto;
                display: block;
              }
//-------------------------------//
              .how-it-works{
                height: auto;
                margin: 130px auto 70px;
                position: relative;
                .how-it-works-content{
                  background-color: #fff;
                  width: 33.333%;
                  float: left;
                  border-radius: 5px;
                  box-shadow: 1px 15px 70px 2px rgba(0,0,0,0.3);
                  .how-it-works-img{
                    overflow: hidden;
                    width: 135px;
                    height: 135px;
                    border-radius: 100%;
                    margin: 40px auto;
                    position: relative;
                    border: 3px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                      width: 105%;
                      min-height: 105%;
                    }
                  }
                  .how-it-works-texts{
                    text-align: center;
                    margin-bottom: 45px;
                    padding: 0 18px;
                    h2{
                      font-size: 22px;
                      color: $for-hitw;
                      text-transform: capitalize;
                    }
                    p{
                      color: $special-clr;
                      font-size: 18px;
                      margin: 0;
                      overflow: hidden;
                    }
                  }
                }
                .hiw-left-side{
                  margin-right: -18px;
                  margin-left: 18px;
                }
                .hiw-right-side{
                  margin-left: -18px;
                  margin-right: 18px;
                }
                .hiw-special{
                  background-color: $scd-clr;
                  margin-top: 40px;
                  z-index: 10;
                  position: relative;
                  .how-it-works-texts{
                    h2{
                      color: $txt-white;
                    }
                    p{
                      color: $txt-white;
                    }
                  }
                }
              }
              .float-h{
                font-size: 80px;
                color: rgba(0, 0, 0, 0.02);
                position: absolute;
                top: -80px;
                text-transform: uppercase;
                font-weight: bolder;
                letter-spacing: 25px;
                display: block;
                user-select: none;
              }
//-------------------------------//
              .requests{
                height: auto;
                margin-top: 100px;
                margin-bottom: 85px;
                margin-left: 0;
                margin-right: 0;
                .requests-img{
                  overflow: hidden;
                  margin-bottom: 15px;
                  height: 200px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img{
                    max-height: 200px;
                  }
                }
                .requests-text{
                  text-align: center;
                  a{
                    display: block;
                    color: #212529;
                    h2{
                      font-size: $menu-font;
                      color: $special-clr;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      width: 85%;
                      margin: 0 auto;
                      text-transform: capitalize;
                    }
                  }
                  p{
                    font-size: $md-font;
                    color: rgba(51,51,51,0.7);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  button{
                    font-size: $artical-font;
                    padding: 5px 12px;
                  }
                }
              }
            }
            .ads{
              height: 100%;
              .inner-ads{
                overflow: hidden;
                margin-top: 50px;
                position: relative;
                height: calc(100vh - 154px);
                img{
                  transform: translate(-50%,-50%);
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
    .myrow{
      height: auto;
      margin: 20px 0 10px;
      &:last-child{
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

//-------------------------------//
//-------------------ABOUT-US---------------------//
.about-us{
  .about-us-content{
    padding-left: 25px;
    .demanded{
      &:after{
        bottom: 0!important;
      }
    }
    .blocks{
      position: relative;
      margin-bottom: 100px;
      &:after{
        content: ' ';
        position: absolute;
        display: block;
        width: 100px;
        height: 3px;
        background-color: $main-clr;
        bottom: -30px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      h2{
        color: $special-clr;
        font-size: 28px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        text-transform: capitalize;
        font-family: 'font-bold';
      }
      .what-is-tutors{
        margin-bottom: 35px;
        .embeded-video{
          margin-bottom: 30px;
          max-height: 450px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 100%;
          }
        }
        article{
          font-size: $artical-font;
          line-height: 2;
          color: $special-clr;
          width: 100%;
          //max-height: 90px;
          //overflow: hidden;
        }
      }
      .our-mission{
        margin-bottom: 35px;
        article{
          font-size: $artical-font;
          line-height: 2;
          width: 100%;
          //max-height: 155px;
          //overflow: hidden;
          margin-bottom: 35px;
        }
        p{
          font-size: $md-font;
          color: $special-clr;
          img{
            width: 2%;
            margin-right: 30px;
          }
        }
      }
      .on-demand{
        .tutoring{
          text-align: center;
          margin-bottom: 35px;
          .grey-bck{
            background-color: #ebebeb;
            padding: 25px;
            img{
              width: 10%;
              margin: 0 auto 25px;
              display: block;
            }
            h3{
              font-size: $md-font;
              letter-spacing: 1px;
              color: $special-clr;
              margin-bottom: 20px;
              text-transform: capitalize;
            }
            p{
              font-size: $artical-font;
              color: $special-clr;
              margin-bottom: 0;
              max-height: 50px;
              overflow: hidden;
            }
          }
        }
      }
      .Consultation{
        .free-start{
          text-align: center;
          margin: auto;
          article{
            font-size: $artical-font;
            color:$special-clr;
            margin-bottom: 35px;
            line-height: 2;
            //max-height: 200px;
            //overflow: hidden;
          }
          ul{
            font-size: 16px;
            color: #333;
            margin-bottom: 35px;
            line-height: 2;
            text-align: left;
            padding-left: 30px;
          }
          button{
            background-color: $scd-clr;
            color: #fff;
            border-radius: 0;
            text-transform: capitalize;
            font-size: $artical-font2;
            padding: 10px 30px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

//-------------------------------//
//-------------------all-subjects---------------------//
.all-subjects{
  .all-subjects-content{
    .subject-img{
      overflow: hidden;
      margin-bottom: 15px;
      max-height: 165px;
      img{
        position: relative;
        left: 50%;
        display: block;
        transform: translateX(-50%);
      }
    }
    a{
      display: block;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 40px;
      color: #0a1c28;
    }
  }
}
//-------------------------------//
//-------------------blog-details---------------------//
.blog-details{
  .blog-details-content{
    .blog-search{
      margin-bottom: 20px;
      .form-group{
        width: 60%;
        margin: 0;
        input{
          background: transparent;
          border: 1px solid #000;
          height: 40px;
          padding-left: 20px;
          width: 100%;
          &::placeholder{
            text-transform: capitalize;
          }
        }
      }
      button{
        background-color: $scd-clr;
        color: #fff;
        height: 40px;
        margin-left: 3px;
        border-radius: 0;
      }
    }
    .blog-details-rest{
      background-color: #fff;
      .blog-details-blocks{
        padding: 30px 15px;
        .blog-details-blocks-in{
          border-bottom: 1px solid $special-clr;
          position: relative;
          h2{
            font-size: $two-forfont;
            margin-bottom: 15px;
            color: $special-clr;
            text-transform: capitalize;
          }
          .blog-details-blocks-in-img{
            margin-bottom: 15px;
            height: 460px;
            overflow: hidden;
            width: 100%;
            img{
              width: 100%;
              position: relative;
              top: 50%;
              transform: translate(-50%,-50%);
              left: 50%;
            }
          }
          article{
            text-align: center;
            margin: 20px 0;
            color: $special-clr;
          }
          .absolute-date{
            background-color: $scd-clr;
            width: 55px;
            height: 85px;
            text-align: center;
            position: absolute;
            top: 470px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: $artical-font;
            p{
              margin: 10px auto;
            }
          }
        }
        .border-free{
          border: 0;
          /*.border-free-ab{
            top: 36%;
          }*/
        }
        button{
          margin: 20px auto 0;
          display: block;
          padding: 10px 25px;
          background-color: transparent;
          color: $scd-clr;
          text-transform: capitalize;
          border: 1px solid $scd-clr;
          border-radius: 0;
        }
      }
      .recent-news{
        h2{
          margin-bottom: 30px;
          font-size: $two-forfont;
          color: $scd-clr;
          text-transform: capitalize;
        }
        .colmnz{
          margin-bottom: 25px;
        }
        .recent-news-img{
          overflow: hidden;
          img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .rececnt-news-details{
          display: flex;
          align-items: center;
          h3{
            font-size: $perfect-font;
            font-weight: bold;
          }
          .p-leftt{
            float: left;
          }
          .p-right{
            float: right;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
//-------------------------------//
//-------------------contact-us---------------------//
.contact-us{
  .contact-us-content{
    .contact-info{
      margin-bottom: 60px;
      padding-left: 25px;
      h2{
        font-size: $title-font;
        letter-spacing: 2px;
        margin-bottom: 50px;
        text-transform: capitalize;
      }
      .blue-border-r{
        border-left: 5px solid $scd-clr;
        padding-left: 20px;
        .t-cells{
          display: table;
          margin-bottom: 45px;
          p{
            display: table-cell;
            font-size: $md-font;
          }
          .t-cell-label{
            width: 130px;
            text-transform: capitalize;
            i{
              margin-right: 20px;
            }
          }
        }
      }
    }
    .student-write{
      margin-bottom: 100px;
      padding-left: 25px;
      h2{
        font-size: $title-font;
        letter-spacing: 2px;
        margin-bottom: 50px;
        text-transform: capitalize;
      }
      .fill-in{
        input{
          width: 100%;
          height: 40px;
          background-color: transparent;
          border-radius: 0;
          margin-bottom: 20px;
        }
        textarea{
          width: 100%;
          background-color: transparent;
          resize: none;
          border-radius: 0;
          height: 160px;
          margin-bottom: 20px;
        }
        button{
          font-size: $md-font;
          text-transform: capitalize;
          background-color: $scd-clr;
          color: #fff;
          padding: 10px 45px;
          border-radius: 0;
        }
      }
    }
  }
}
//-------------------------------//
//-------------------edit-profile--------------------//
.edit-profile{
  .edit-profile-content{
    margin-bottom: 50px;
    padding: 0 25px;
    .edit-profile-form{
      label{
        color: $special-clr;
        font-size: $artical-font;
        text-transform: capitalize;
      }
      .add-degree{
        height: 38px;
        font-size: $artical-font2;
        text-transform: capitalize;
        background-color: $scd-clr;
        color: #fff;
        padding: 6px 12px;
        border-radius: 0;
        margin-left: 15px;
      }
      .close-degree{
        display: none;
        background-color: transparent;
        color: #888;
      }
      .edit-save{
        padding: 6px 35px;
        background-color: transparent;
        color: $scd-clr;
        text-transform: capitalize;
        border: 1px solid $scd-clr;
        border-radius: 0;
        font-size: $md-font;
      }
    }
  }
}
//-------------------------------//
//-------------------FAQ---------------------//
.faq{
  .faq-content{
    .after-line{
      position: relative;
      &:after{
        content: ' ';
        position: absolute;
        display: block;
        width: 100px;
        height: 3px;
        background-color: $main-clr;
        bottom: -50px;
        left: 10px;
      }
      .faqs{
        margin-bottom: 90px;
        margin-left: 10px;
        h3{
          color: $scd-clr;
          font-size: $menu-font;
          margin-bottom: 25px;
          span{
            color: #000;
          }
        }
        p{
          margin-left: 23px;
          color: $special-clr;
          font-size: $artical-font2;
        }
      }
    }
    .recent-questions{
      margin-bottom: 60px;
      margin-left: 10px;
      h2{
        margin-bottom: 30px;
        color: $scd-clr;
        font-size: $md-font;
        text-transform: capitalize;
      }
      p{
        color: $special-clr;
        font-size: $artical-font2;
        margin-bottom: 20px;
      }
    }
  }
}
//-------------------------------//
//------------------my-account-info----------------------//
.my-account-info{
  .my-account-info-content{
    .profile-picture{
      .profile-picture-in{
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 60px auto;
        border-radius: 1200%;
        border: 5px solid $scd-clr;
        img{
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .student-info{
      margin-left: 15px;
      .single-info{
        display: table;
        margin-bottom: 30px;
        label{
          display: table-cell;
          width: 125px;
          font-size: $artical-font;
          text-transform: capitalize;
          font-weight: bold;
          color: $special-clr;
        }
        p{
          display: table-cell;
          color: $special-clr;
          font-size: $artical-font;
          text-transform: capitalize;
        }
      }
      .prof-edit{
        margin: 70px 0;
        button{
          font-size: $md-font;
          text-transform: capitalize;
          background-color: $scd-clr;
          color: #fff;
          padding: 8px 45px;
          border-radius: 0;
        }
      }
    }
  }
}
//-------------------------------//
//------------------my-account-edit----------------------//
.my-account-edit{
  .my-account-edit-content{
    padding: 0 15px 0 25px;
    .input_file{
      .file_label{
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 50px auto;
        border-radius: 100%;
        border: 5px solid $scd-clr;
        position: relative;
        display: block;
        cursor: pointer;
        &:before{
          content: ' ';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
          z-index: 1;
        }
        img{
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        p{
          position: absolute;
          top: 75%;
          left: 18%;
          color: #fff;
          z-index: 2;
          overflow: hidden;
          height: 25px;
          width: 120px;
          font-size: $artical-font2;
          text-align: center;
        }
      }
      #file {  display: none}
    }
    .editing{
      .labels-style{
        color: $special-clr;
        text-transform: capitalize;
        font-size: $artical-font;
      }
      .save-sub{
        font-size: $md-font;
        text-transform: capitalize;
        background-color: $scd-clr;
        color: #fff;
        border-radius: 0;
        margin-right: 25px;
        margin-bottom: 15px;
        width: 115px;
        height: 40px;
      }
      .cancel-sub{
        background-color: transparent;
        color: $scd-clr;
        text-transform: capitalize;
        border: 1px solid $scd-clr;
        border-radius: 0;
        font-size: $md-font;
        margin-right: 25px;
        margin-bottom: 15px;
        width: 115px;
        height: 40px;
      }
      .change-pass{
        display: block;
        margin-bottom: 15px;
        color: $scd-clr;
        text-decoration: underline;
        &:last-child{
          margin-bottom: 60px;
        }
      }
    }
  }
}
//-------------------------------//
//------------------my-account-info----------------------//
.about-us{
  .about-us-content{
    .blocks{
      .privacy-policies{
        article{
          font-size: 16px;
          line-height: 2;
          color: #333;
          width: 100%;
          margin-bottom: 15px;
        }
        ul{
          margin-top: 1rem;
          margin-left: 15px;
          line-height: 2;
        }
        h3{
          font-size: 22px;
          border-bottom: 1px solid #333;
          display: inline-block;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}
//-------------------------------//
//------------------recent-requests----------------------//
.recent-requests{
  .recent-requests-content{
    margin-bottom: 40px;
    .recents-req{
      background-color: #fff;
      padding: 10px 15px;
      margin-bottom: 40px;
      .requests-img-sp{
        display: flex;
        align-items: center;
      }
      .tutor-applicant{
        overflow: hidden;
        width: 190px;
        height: 180px;
        img{
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      .tutor-applicant-bio{
        margin: auto;
        h2{
          font-size: $two-forfont;
          color: $scd-clr;
          text-transform: capitalize;
        }
        p{
          color: $special-clr;
          font-size: $artical-font;
          margin-bottom: 20px;
        }
        article{
          color: $special-clr;
          font-size: $artical-font2;
          overflow: hidden;
        }
      }
      .tutor-submit{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        button{
          font-size: $artical-font;
          text-transform: capitalize;
          background-color: $scd-clr;
          color: #fff;
          padding: 6px 20px;
          border-radius: 0;
          margin-bottom: 25px;
        }
      }
    }
  }
}
//-------------------------------//
//------------------Tutors-Section---------------------//
.recent-requests{
  .recent-requests-content{
    .search-form{
      padding-left: 10px;
      margin-bottom: 50px;
      .drops-t{
        padding: 0 10px;
        input{
          background-color: transparent;
          border-radius: 0;
          &::placeholder{
            font-size: 12px;
          }
          &:focus{
            box-shadow: none;
            border-color: #ced4da;
          }
        }
        .advanced-search{
          background-color: transparent;
          border: none;
          font-size: $artical-font2;
          padding-left: 0;
          text-decoration: underline;
          color: $special-clr;
          cursor: pointer;
          line-height: 2.5;
          &:focus{
           box-shadow: none;
            outline: none;
          }
          &:after{
            display: none;
          }
        }
      }
      .submit-one{
        background-color: $scd-clr;
        color: #fff;
        height: 38px;
        border-radius: 0;
        i{
          transform: scale(1.5);
        }
      }
      .hidden-wrapper{
        padding: 0;
        display: none;
      }
    }
    .recommended-tutors{
      h2{
        color: $special-clr;
        font-size: $menu-font;
        margin-top: 80px;
        margin-bottom: 30px;
      }
      .recents-req{
        .tutor-applicant{
          width: 110px;
          height: 110px;
        }
      }
      .tutor-applicant-bio{
        h3{
          font-size: $md-font;
          color: $scd-clr;
          text-transform: capitalize;
        }
        p{
          font-size: $artical-font2;
          margin-bottom: 10px;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
//-------------------------------//
//------------------registration-page---------------------//
.registration-page{
  .registration-page-content{
    margin-bottom: 70px;
    padding: 0 25px;
    .reg-label{
      font-size: $artical-font;
      font-weight: bold;
      text-transform: capitalize;
    }
    .select-styled{
      color: $special-clr;
      font-size: 12px;
    }
    .registration-btn{
      font-size: $md-font;
      text-transform: capitalize;
      background-color: $scd-clr;
      color: #fff;
      padding: 6px 35px;
      border-radius: 0;
    }
    .terms-conditions{
      display: flex;
      align-items: center;
      .form-group{
        margin-bottom: 0;
      }
      input{
        display: none;
        + label{
          text-transform: capitalize;
          color: #b0b5bc;
          font-size: $artical-font;
          line-height: 30px;
          margin-left: 12px;
          user-select: none;
          &:before {
            content:'\f096' ;
            font-family: FontAwesome;
            position: absolute;
            left: 0;
            font-size: $perfect-font;
            color: $scd-clr;
          }
        }
        &:checked{
          + label:before{
            content: '\f046';
            color: $scd-clr;
          }
        }
      }
    }
  }
}
//-------------------------------//
//------------------login---------------------//
.login{
  .row{
    height: auto!important;
  }
  .email-pass-inp-2{
    input{
      background-color: transparent;
      border-radius: 0;
      height: 55px;
    }
  }
  .submit-button-2{
    justify-content: flex-end;
    display: flex;
    button{
      background-color: $scd-clr;
      color: #fff;
      text-transform: capitalize;
      padding: 8px 30px;
      font-size: $artical-font;
      border-radius: 0;
    }
  }
  .forgot-pass-2{
    color: #000;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin-top: 25px;
  }
  .dont-have-acc-2{
    color: $scd-clr;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 4px;
    a{
      color: #000;
      text-decoration: underline;
    }
  }
  .or-login{
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    .or-login-content{
      text-align: center;
      color: #888;
      font-size: 16px;
      display: inline-block;
      margin-top: -45px;
      &:before{
        position: absolute;
        content: ' ';
        background-color: #ddd;
        width: 4px;
        height: 50%;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:after{
        position: absolute;
        content: ' ';
        background-color: #ddd;
        width: 4px;
        height: 50%;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .login-opt-2{
    display: block;
    padding: 7px;
    font-size: $perfect-font;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none;
    line-height: 45px;
    text-transform: capitalize;
    i{
      margin: 0 40px 0 20px;
    }
  }
  .login-facebook-2{
    background-color: #4464a6;
  }
  .login-google-2{
    background-color: #db4639;
  }
  .login-linked-2{
    background-color: #007ab5;
  }
  .first-time{
    margin: 75px auto;
    text-align: center;
    h3{
      color: #0773bb;
      margin-bottom: 30px;
      font-size: 24px;
    }
    p{
      color: #000;
      font-size: 16px;
      margin: 30px auto;
    }
    a{
      display: block;
      color: #333;
      text-decoration: underline;
      font-size: 16px;
    }
  }
  .email-security{
    text-align: center;
    input{
      margin: 40px 0;
    }
    button{
      font-size: 18px;
      text-transform: capitalize;
      background-color: #0773bb;
      color: #fff;
      padding: 6px 35px;
      border-radius: 0;
    }
  }
}

//-------------------------------//
//------------------review-requests---------------------//
.review-requests{
  .review-requests-content{
    .nav-pills{
      justify-content: center;
      margin-bottom: 3rem!important;
      .nav-item{
        .nav-link{
          padding: 0;
          margin-right: 60px;
          color: #333;
          font-size: 18px;
        }
        .nav-link.active{
          color: $active-pills;
          background-color: transparent;
        }
      }
    }
    .tab-content{
      .tab-pane{
        table{
          thead{
            background-color: lighten(#0773bb, 5%);
            tr{
              th{
                text-align: center;
                border: 1px solid #000;
                padding: 10px;
                &:last-child{
                  width: 20%;
                }
                h1{
                  color: #fff;
                  margin: 0;
                  font-size: 20px;
                }
              }
            }
          }
          tbody{
            tr{
              td{
                vertical-align: unset;
                text-transform: capitalize;
                padding: 5px 10px;
                border: 1px solid #999;
                &:last-child{
                  text-align: center;
                }
                h2{
                  font-size: 16px;
                  margin: 0;
                  font-weight: bold;
                }
                a{
                  color: #212529;
                  font-size: 16px;
                  font-weight: bold;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
//.collapse:not(.show){
//  display: unset;
//}
.sec-content .special-aside{
  right: -100%;
  transition: 0.4s;
}
.show .special-aside{
  transition: 0.4s;
  right:0;
}