/*----------------------------media(1440)------------------------------*/
@media only screen and (max-width:1440px) {
  .sec-content .container-fluid .row #fullpage .section .row .section-content .float-h{
    font-size: 70px;
    top: -70px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content{
    padding-left: 5%;
    padding-right: calc(5% - 15px);
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption{
    left: 5%;
  }
}
/*----------------------------media(1366)------------------------------*/
@media only screen and (max-width:1366px) {
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .blog-details-blocks-in-img{
    height: 380px;
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .absolute-date{
    top: 390px;
  }
  .blog-details .blog-details-content .blog-details-rest .recent-news .rececnt-news-details {
    h3{
      font-size: 16px;
    }
    .p-leftt{
      font-size: 14px;
    }
    .p-right{
      font-size: 14px;
    }
  }
  .recent-requests .recent-requests-content .recents-req .tutor-submit button{
    font-size: 14px;
    padding: 8px 14px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content  {
    .tutors-nav{
      .nav-pills .nav-item .nav-link{
        margin-right: 50px;
      }
      .tab-content .tab-pane .removed-row .teacher{
        margin: 0 30px;
        .blue-border{
          height: 170px;
          width: 170px;
        }
      }
    }
    .float-h{
      font-size: 65px;
      top: -65px;
      letter-spacing: 20px;
    }
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content{
    padding-left: 3%;
    padding-right: calc(3% - 15px);
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption{
    left: 3%;
  }
}

/*----------------------------media(1200)------------------------------*/
@media only screen and(max-width: 1199px){
  .sec-content .container-fluid .row #fullpage .section .row .ads{
    display: none;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content{
    padding-left: 4%;
    padding-right: calc(4% - 15px);
    .float-h{
      font-size: 60px;
      top: -60px;
    }
  }
  #myMenu{
    right: 2%;
  }
  //internals------------------------
  .internals-header{
    padding: 65px 35px 70px 25px;
  }
  .an-embeded-video{
    margin-bottom: 20px;
  }
  .about-us .about-us-content .blocks .our-mission p img{
    width: 3%;
    margin-right: 25px;
  }
  //-----------blog-detail-----
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .blog-details-blocks-in-img{
    height: 320px;
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .absolute-date{
    top: 320px;
  }
  .contact-us .contact-us-content .contact-info .blue-border-r .t-cells p{
    font-size: 16px;
  }
  .edit-profile .edit-profile-content .edit-profile-form label{
    font-size: 14px;
  }
  .my-account-edit .my-account-edit-content .editing .labels-style{
    font-size: 14px;
  }
  .recent-requests .recent-requests-content .recents-req .tutor-submit button{
    font-size: 13px;
    padding: 6px 12px;
  }
  .recent-requests .recent-requests-content .recents-req {
    .tutor-applicant-bio{
      h2{
        font-size: 22px;
      }
      p{
        font-size: 14px;
      }
      article{
        font-size: 12px;
      }
    }
    .tutor-applicant{
      height: 145px;
    }
  }
  .login .login-opt-2{
    font-size: 16px;
  }
  .review-requests .review-requests-content .tab-content .tab-pane table thead tr th h1{
    font-size: 16px;
  }
  .review-requests .review-requests-content .tab-content .tab-pane table tbody tr td h2, .review-requests .review-requests-content .tab-content .tab-pane table tbody tr td a{
    font-size: 14px;
  }
  #myMenu{
    display: none;
  }
  .internals-ads{
    display: none;
  }
  .about-us .about-us-content{
    padding-right: 15px;
    padding-left: 15px;
  }
  .responsive-ads{
    display: flex!important;
  }
  .responsive-ads-internals{
    margin: 36px auto;
    margin-left: calc(280px + 15px);
  }
  .sec-content .container-fluid .row #fullpage .section{
    height: auto;
  }
  .sec-content .container-fluid .row{
    height: auto;
  }
  .next-section{
    display: none;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one{
    min-height: 40vh;
    margin-top: 0!important;
  }
  .sec-content .container-fluid .row #fullpage .section .skils{
    margin-top: 0!important;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption h1{
    font-size: 28px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption{
    left: 4%;
    min-height: 196px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption .just-one-register{
    width: 260px;
    height: 70px;
    font-size: 22px;
  }
  .filter-form > *{
    margin-bottom: 40px;
  }
  .filter-form .form-group select.form-control{
    height: 40px;
  }
}

/*----------------------------media height (800)------------------------------*/
@media only screen and(max-height: 800px){
  .sec-content .container-fluid .row #fullpage .section .just-one{
    margin-top: calc(2 * -45px);
  }
  .sec-content .container-fluid .row #fullpage .section .skils{
    margin-top: 0 !important;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .skils-img{
    min-height: 150px;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .statics .progress_counter{
    font-size: 26px;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .statics h6{
    font-size: 20px;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .statics p{
    font-size: 14px;
  }
  .next-section{
    left: 1.5%;
    bottom: 17.5%;
    .magic-button{
      width: 30px;
      height: 30px;
      font-size: 14px;
      i{

      }
    }
  }
  .header-registration .header-wrapper, .header-loged .header-wrapper{
    height: 40px;
    max-height: 40px;
    margin-left: calc(220px - 15px);
  }
  .header-loged .sr-input .search-btn-header{
    padding: 4px 8px;
    i{
      font-size: 12px;
    }
  }
  .sec-content .container-fluid .row #fullpage{
    margin-left: 220px;
  }
  .sec-content .container-fluid .row aside{
    width: 220px;
  }
  .internals-header, .internals-content{
    margin-left: calc(220px + 15px);
  }

  .sec-content .container-fluid .row aside{
    .menu{
      height: 50%;
      ul{
        margin-top: 25px;
        margin-bottom: 25px;
        li{
          margin-bottom: 20px;
          a{
            font-size: 16px;
          }
        }
      }
    }
  }
  .sec-content .container-fluid .row aside .logo{
    .logo-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 75%;
      }
    }
  }
  .special-aside .logo .profile-logo{
    width: 80px!important;
    height: 80px!important;
  }
  .sec-content{
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content{
    padding-top: 45px;
    padding-left: 4%;
    padding-right: calc(4% - 15px);
    h1{
      margin-bottom: 30px;
      font-size: 32px;
      letter-spacing: 2px;
    }
    .tutors-nav .nav-pills .nav-item .nav-link{
      margin-right: 30px;
      font-size: 16px;
    }
    .tutors-nav .tab-content .tab-pane .removed-row .teacher .blue-border{
      height: 140px;
      width: 140px;
    }
    .tutors-nav .tab-content .tab-pane .removed-row .teacher .teacher-info{
      margin-top: 45px;
      a{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
    button{
      padding: 5px 28px;
      font-size: 14px;
    }
  }
  .social ul li a i{
    font-size: 14px;
  }
  .header-registration {
    min-height: 45px;
    .sr-input input{
      font-size: 10px;
    }
  }
  .header-registration .registration .registers{
    font-size: 14px;
  }
  .header-registration .registration .form-btn-head{
    font-size: 14px;
  }
  .header-loged .social ul li a i{
    font-size: 14px;
  }
  .header-loged .sr-input input{
    font-size: 10px;
  }
  .header-loged .account {
    .not-alert{
      .btn-special-2 i{
        font-size: 14px;
      }
      .notification-icn{
        width: 14px;
        height: 14px;
        font-size: 9px;display: flex;
        align-items: center;
        justify-content: center;
        left: 5px;
        top: 2px;
      }
    }
    .account-nav .btn-special{
      font-size: 12px;
    }
    .acc-picture{
      width: 35px;
      height: 35px;
    }
  }
  .sec-content .container-fluid .row #fullpage .section .row .ads .inner-ads{
    padding-top: 0;
    height: 70%;
    margin-top: 40%;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content .tutors-nav .tab-content .tab-pane .removed-row .teacher .blue-border .teacher-img img{
    width: 175px;
    height: 175px;
  }
  #myMenu .active a{
    width: 7px;
    height: 7px;
  }
  #myMenu li a{
    width: 9px;
    height: 9px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content .tutors-nav .nav-pills{
    margin-bottom: 5rem !important;
  }
  //--------------------------------------
  .sec-content .container-fluid .row #fullpage .section .row .section-content {
    .how-it-works{
      margin: 60px auto 50px;
      .how-it-works-content {
        .how-it-works-img{
          width: 100px;
          height: 100px;
          margin: 30px auto;
        }
        .how-it-works-texts{
          margin-bottom: 30px;
          h2{
            font-size: 18px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content .float-h{
    font-size: 52px;
    top: -50px;
    left: 1%;
  }
  //----------------------------------------------
  .sec-content .container-fluid .row #fullpage .section .row .section-content .requests{
    margin-top: 45px;
    margin-bottom: 55px;
    .requests-text {
      h2{
        font-size: 16px;
      }
      p{
        font-size: 13px;
      }
      button{
        font-size: 11px;
        padding: 4px 10px;
      }
    }
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content nav ul li{
    margin-right: 6px;
    .page-link{
      font-size: 12px;
    }
  }
  //------------------------------------------------
  .modal-dialog{
    width: 310px;
  }
  .modal-style {
    h2{
      font-size: 20px;
      margin: 20px 0;
    }
    .email-pass-inp{
      margin-bottom: 15px;
      input{
        font-size: 12px;
      }
    }
    .submit-button{
      button{
        padding: 6px 25px;
        font-size: 12px;
        border-radius: 0;
      }
    }
    .forgot-pass{
      font-size: 12px;
    }
    .dont-have-acc{
      font-size: 12px;
    }
    .or{
      font-size: 16px;
      &:before{
        width: 120px;
        top: 11px;
      }
      &:after{
        width: 120px;
        top: 11px;
      }
    }
    .login-opt{
      font-size: 14px;
    }
  }
  .remember-me input + label{
    font-size: 12px;
    margin-left: 0;
  }
  .remember-me input + label:before{
    font-size: 14px;
  }
  .remember-me input:checked + label:before{
    font-size: 14px;
  }
  footer p{
    padding: 7px 0;
    font-size: 14px;
  }
  .internals-header{
    padding: 60px 35px 60px 25px;
    h1{
      font-size: 32px;
    }
    nav .breadcrumb{
      margin-top: 0;
      .breadcrumb-item{
        font-size: 12px;
      }
    }
  }
  .about-us .about-us-content .blocks{
    ul{
      li{
        font-size: 14px;
      }
    }
    margin-bottom: 75px;
    h2{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .what-is-tutors article{
      //max-height: 100px;
      font-size: 12px;
    }
    .our-mission {
      article ,p{
        font-size: 14px;
      }
      article{
        //max-height: 150px;
      }
    }
    .on-demand .tutoring .grey-bck{
      padding: 20px;
      img{
        margin: 0 auto 25px;
      }
      h3{
        font-size: 14px;
        margin-bottom: 16px;
      }
      p{
        font-size: 12px;
        margin-bottom: 0;
        max-height: 60px;
      }
    }
    .Consultation .free-start button{
      font-size: 12px;
      padding: 8px 20px;
    }
  }
  .all-subjects .all-subjects-content a{
    margin-bottom: 30px;
    font-size: 13px;
  }
  .blog-details .blog-details-content .blog-search {
    .form-group input{
      height: 35px;
    }
    button{
      height: 35px;
      i{
        display: flex;
      }
    }
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in {
    h2{
      font-size: 18px;
    }
    .blog-details-blocks-in-img{
      height: 320px;
    }
    .absolute-date{
      top: 320px;
      width: 50px;
      height: 70px;
      font-size: 14px;
    }
    p, article{
      font-size: 12px;
    }
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks button{
    padding: 8px 20px;
    font-size: 14px;
  }
  .blog-details .blog-details-content .blog-details-rest .recent-news {
    h2{
      font-size: 18px;
      margin-bottom: 20px;
    }
    .rececnt-news-details {
      h3{
        font-size: 14px;
      }
      .p-leftt, .p-right{
        font-size: 12px;
      }
    }
  }
  .header-loged {
    min-height: 45px;
    .account .not-alert .account-not {
      a{
        font-size: 12px;
        .timer{
          font-size: 10px;
        }
      }
      .view-all{
        font-size: 11px;
        padding: 8px 35px;
      }
    }
  }
  .header-loged .account .account-nav .account-set{
    padding: 10px 20px;
    border-bottom: 5px solid #0773bb !important;
    .profile-name{
      font-size: 14px;
    }
    .account-nav-opt{
      font-size: 12px;
    }
  }
  .contact-us .contact-us-content .contact-info{
    margin-bottom: 60px;
    h2{
      font-size: 20px;
      margin-bottom: 40px;
    }
    .blue-border-r .t-cells{
      margin-bottom: 30px;
      p{
        font-size: 14px;
      }
      .t-cell-label{
        width: 120px;
      }
    }
  }
  .contact-us .contact-us-content .student-write{
    h2{
      font-size: 20px;
      margin-bottom: 40px;
    }
    .fill-in input{
      height: 35px;
      margin-bottom: 15px;
      &::placeholder{
        font-size: 11px;
      }
    }
    .fill-in textarea{
      height: 135px;
      margin-bottom: 20px;
      &::placeholder{
        font-size: 11px;
      }
    }
    .fill-in button{
      padding: 6px 30px;
      font-size: 12px;
    }
  }
  .edit-profile .edit-profile-content .edit-profile-form {
    label{
      font-size: 13px;
    }
    .add-degree{
      padding: 4px 10px;
      height: 35px;
      font-size: 12px;
    }
    .edit-save{
      padding: 2px 25px;
      font-size: 14px;
    }
  }
  .inputs-style{
    height: 35px;
    &::placeholder{
      font-size: 11px;
    }
  }
  .bootstrap-tagsinput input{
    &::placeholder{
      font-size: 11px;
    }
  }
  .faq .faq-content .after-line .faqs{
    margin-bottom: 40px;
    h3{
      font-size: 18px;
      margin-bottom: 20px;
    }
    p{
      font-size: 12px;
    }
  }
  .faq .faq-content .recent-questions{
    margin-top: 80px;
    h2{
      margin-bottom: 25px;
      font-size: 16px;
    }
    p{
      font-size: 12px;
      margin-bottom: 15px;
    }
  }
  .my-account-edit .my-account-edit-content .input_file .file_label{
    width: 160px;
    height: 160px;
    margin: 30px auto;
    border: 3px solid #0773bb;
    p{
      left: 12%;
      font-size: 12px;
    }
  }
  .my-account-edit .my-account-edit-content .editing {
    .labels-style{
      font-size: 14px;
    }
    .save-sub{
      font-size: 14px;
      padding: 4px 30px;
    }
    .cancel-sub{
      font-size: 14px;
      padding: 4px 25px;
    }
    .change-pass{
      font-size: 12px;
    }
  }
  .select-options li{
    font-size: 12px;
    padding: 10px 0;
  }
  .my-account-info .my-account-info-content .profile-picture .profile-picture-in{
    width: 160px;
    height: 160px;
    margin: 30px auto;
    border: 3px solid #0773bb;
  }
  .my-account-info .my-account-info-content .student-info .single-info {
    label, p{
      font-size: 13px;
    }
  }
  .my-account-info .my-account-info-content .student-info .prof-edit button{
    font-size: 14px;
    padding: 6px 35px;
  }
  .recent-requests .recent-requests-content .recents-req{
    .tutor-applicant{
      width: 150px;
      height: 140px;
    }
    .tutor-applicant-bio{
      h2{
        font-size: 18px;
      }
      p{
        font-size: 12px;
        margin-bottom: 15px;
      }
      article{
        font-size: 11px;
      }
      .fa{
        font-size: 14px;
      }
    }
  }
  .recent-requests .recent-requests-content .recents-req .tutor-submit button{
    font-size: 11px;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .recent-requests .recent-requests-content .recommended-tutors h2{
    font-size: 20px;
    margin-top: 60px;
  }
  .recent-requests .recent-requests-content .recommended-tutors .tutor-applicant-bio h3{
    font-size: 16px;
  }
  .drops-t .select-styled{
    font-size: 12px;
    height: 35px;
  }
  .recent-requests .recent-requests-content .search-form .drops-t input{
    height: 35px;
    &::placeholder{
      font-size: 12px;
    }
  }
  .recent-requests .recent-requests-content .search-form .submit-one{
    height: 35px;
    i{
      transform: scale(1);
      display: flex;
    }
  }
  .recent-requests .recent-requests-content .search-form .drops-t .advanced-search{
    font-size: 12px;
  }
  .registration-page .registration-page-content .reg-label{
    font-size: 14px;
  }
  .registration-label{
    font-size: 12px !important;
    line-height: 2;
  }
  .registration-page .registration-page-content .registration-btn{
    font-size: 14px;
    padding: 4px 25px;
  }
  .save-sub-req{
    font-size: 14px;
    padding: 4px 25px;
  }
  .cancel-sub-req {
    font-size: 14px;
    padding: 4px 20px;
  }
  .registration-page{
    p, article{
      font-size: 13px;
    }
  }
  ////////////login//////////////
  .login-footer{
    bottom: unset;
  }

  .login .email-pass-inp-2 input{
    height: 38px;
  }
  .special-mr-4{
    margin-bottom: 20px;
  }
  .login .submit-button-2 button{
    padding: 6px 25px;
    font-size: 12px;
  }
  .login .forgot-pass-2, .login .dont-have-acc-2{
    font-size: 12px;
  }
  .login .login-opt-2{
    padding: 1px;
    font-size: 14px;
  }
  .login .first-time h3{
    font-size: 18px;
  }
  .login .first-time p, .login .first-time a{
    font-size: 12px;
  }
  .login .login-opt-2{
    font-size: 16px;
  }
  .review-requests .review-requests-content .tab-content .tab-pane table thead tr th h1{
    font-size: 16px;
  }
  .review-requests .review-requests-content .tab-content .tab-pane table tbody tr td h2, .review-requests .review-requests-content .tab-content .tab-pane table tbody tr td a{
    font-size: 14px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one{
    margin-top: calc(2 * -45px);
  }
  .social ul li{
    margin-right: 15px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption h1{
    font-size: 24px;
    margin-bottom: 25px;
  }
  .filter-form > *{
    margin-bottom: 25px;
  }
  .filter-form .form-group select.form-control{
    height: 35px;
    font-size: 16px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption .just-one-register{
    width: 60%;
    height: 100px;
    font-size: 28px;
  }
}
/*----------------------------media(992)------------------------------*/
@media only screen and(max-width: 992px){
  .header-registration{
    .social{
      display: none;
    }
    .registration{
      width: auto;
      height: 65px;
      float: right;
    }
  }
  .header-registration .header-wrapper, .header-loged .header-wrapper{
    margin: 0;
    height: auto;
    max-height: 65px;
    display: block;
  }
  .header-registration, .header-loged{
    min-height: 70px;
    .nav-bar-display{
      display: flex;
      padding: 0;
      float: right;
      width: auto;
      height: 65px;
    }
    .nav-bar-display-logo{
      align-items: center;
      justify-content: center;
      height: 65px;
      float: left;
      .navbar-brand{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 54%;
        }
      }
    }
    .account{
      height: 65px;
      float: right;
      width: auto;
      margin-right: 10px;
    }
  }

  .header-loged .sr-input{
    position: absolute;
    right: -100%;
    width: 0;
    box-shadow: 0 6px 30px 8px rgba(0, 0, 0, 0.2);
    background-color: #0773bb;
    height: 65%;
    top: 100%;
    transition: 1s;
    input{
      border-bottom: none;
    }
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content {
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 25px!important;
    padding-right: 25px!important;
    h1{
      font-size: 42px;
    }
    .tutors-nav {
      margin-bottom: 0;
      .nav-pills .nav-item .nav-link{

      }
      .tab-content .tab-pane .removed-row .teacher{
        margin: 0 40px;
        margin-bottom: 40px;
        .teacher-info{
          margin-top: 45px;
        }
      }
    }
    .float-h{
      display: none;
    }
    .how-it-works{
      margin: 80px auto;
      .how-it-works-content{
        width: 100%;
        box-shadow: 0 0 70px 10px rgba(0, 0, 0, 0.3);
      }
      .hiw-left-side{
        margin-right: 0;
        margin-left: 0;
      }
      .hiw-right-side{
        margin-right: 0;
        margin-left: 0;
        margin-top: -20px;
      }
      .hiw-special{
        margin-top: -20px
      }
    }
  }

  //internals------------------------
  .header-loged{
    .social{
      display: none;
    }
  }
  .about-us .about-us-content{
    padding-left: 15px;
    padding-right: 15px;
  }
  .boot-padding-right{
    padding-right: 15px;
  }
  .sec-content{
    .social-res{
      opacity: 1;
      position: static;
    }
  }
  .special-aside{
    top: 0;
    z-index: 1000000000000000;
  }
  .res-aside{
    display: none;
  }

  .internals-header{
    h1{
      font-size: 40px;
    }
    nav .breadcrumb{
      margin-top: 0;
      .breadcrumb-item{
        font-size: 14px;
      }
    }
  }
  //-----------blog-detail-----
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in article{
    font-size: 13px;
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in h2{
    font-size: 20px;
  }
  .footer-end p{
    padding: 10px 0;
    font-size: 12px;
  }
  .footer-sol-index{
    min-height: 100% !important;
    height: auto;
  }
  .sec-content{
    padding-top: 70px;
  }
  .special-aside{
    width: 100% !important;
    .logo{
      .profile-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        img{
          width: 110%;
          height: 110%;
        }
      }
    }
  }
  .sec-content .container-fluid .row aside .logo{
    min-height: 230px;
  }
  .sec-content .container-fluid .row #fullpage{
    margin: 0;
  }
  .internals-header, .responsive-ads-internals{
    margin-left: 0;
  }
  .internals-content{
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .account{
    .sr-input-res{
      display: block;
      width: auto;
      margin: 0 10px;
      height: auto;
      button{
        background: transparent;
        border: none;
        width: 25px;
        height: 25px;
        color: #fff;
        padding: 0;
      }
    }
  }
  //------------------------search---------------------
  .search-btn{
    .searchbox{
      position:relative;
      min-width: 40px;
      width:0;
      height: 40px;
      overflow:hidden;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s;
      position: absolute;
      #{$right}: -35px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      .form-search{
        top: 0;
        right: 0;
        border: none;
        outline: 0;
        background: transparent;
        width: 100%;
        border-radius: 0;
        height: 40px;
        margin: 0;
        padding-#{$left}: 20px;
        padding-top: 0;
        padding-#{$right}: 55px;
        padding-bottom: 0;
        font-size: 20px;
        color: #fff;
      }
      .icon-search, .btn-search{
        width: 40px;
        height: 40px;
        border: 0;
        display:block;
        position:absolute;
        top:0;
        font-size: 20px;
        #{$right}: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        color: #fe6361;
        background: transparent;
      }
    }

    .searchbox-open{
      width: 30%;
      .form-search{
        background-color:#fe6361;
        &::placeholder{
          color:#fff;
        }
      }
      .icon-search, .btn-search{
        color: #fff;
      }
    }
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption{
    left: 25px;
    width: calc(100% - 50px);
    right: 25px;
    min-height: auto;
    h1{
      text-align: center;
      margin-bottom: 40px;
      span{
        margin-bottom: 10px;
      }
    }
    .just-one-register{
      margin: 0 auto;
      display: block;
    }
  }
  .sec-content .container-fluid .row aside .menu ul li a{
    font-size: 18px;
  }
  .open-search{
    width: 50% !important;
    right: 0!important;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption{
    display: none;
  }
  .caption-mobile{
    display: block!important;
    margin: 50px auto 0;
    text-align: center;
    width: calc(100% - 30px);
    h1{
      font-size: 20px;
      margin-bottom: 30px;
    }
    button{
      text-transform: capitalize;
      background-color: #0773bb;
      color: #fff;
      border-radius: 0;
      width: 200px;
      height: 55px;
      font-size: 16px;
    }
  }
  .fancybox-inner{
    .fancybox-stage{
      .fancybox-content{
        width: 100% !important;
      }
    }
  }
}
/*----------------------------media(900)------------------------------*/
@media only screen and(max-width: 900px){
}
/*----------------------------media(768)------------------------------*/
@media only screen and(max-width: 768px){
  .header-registration .registration .registers{
    display: none;
  }
  .header-registration .registration .form-btn-head{
    display: none;
  }
  .header-registration .registration .signin-res{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content {
    .tutors-nav{
      .nav-pills .nav-item .nav-link{
        margin-right: 35px;
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
    .requests{
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  .midium-mr{
    margin-bottom: 30px;
  }
  //internals------------------------
  .internals-header{
    padding: 40px 35px 40px 25px;
    h1 {
      font-size: 30px;
    }
  }
  .boot-padding-right {
    padding-right: 15px;
  }
  .about-us .about-us-content {
    padding: 0;
  }
  .header-loged .account .acc-picture{
    display: none;
  }
  .header-loged .account .account-nav{
    justify-content: normal;
  }
  .about-us .about-us-content .blocks .our-mission p img{
    width: 4%;
    margin-right: 20px;
  }
  .blog-details .blog-details-content .blog-details-rest .recent-news .rececnt-news-details {
    .p-leftt{
      font-size: 12px;
    }
    .p-right{
      font-size: 12px;
    }
  }
  .contact-us .contact-us-content .contact-info h2{
    margin-top: 50px;
  }
  .faq{
    margin-top: 50px;
  }
  .my-account-edit .my-account-edit-content .editing {
    .save-sub{
      padding: 4px 25px;
      font-size: 16px;
      margin-right: 15px;
    }
    .cancel-sub{
      padding: 4px 20px;
      font-size: 16px;
    }
    .change-pass{
      font-size: 14px;
    }
  }
  .special-mr{
    margin-bottom: 15px;
  }
  .login .or-login{
    display: none;
  }
  .login-footer {
    bottom: unset;
  }
  .login .first-time {
    h3{
      font-size: 22px;
    }
    p{
      font-size: 16px;
    }
    a{
      font-size: 14px;
    }
  }
  .recent-requests .recent-requests-content .search-form .drops-t .advanced-search{
    font-size: 12px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption h1{
    font-size: 22px;
  }
  .sec-content .container-fluid .row #fullpage .section .just-one .caption .just-one-register{
    width: 200px;
    height: 50px;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .skils-img{
    min-height: 180px;
  }
  .sec-content .container-fluid .row #fullpage .section .skils .statics{
    .progress_counter{
      font-size: 20px;
    }
    h6{
      font-size: 16px;
    }
    p{
      font-size: 12px;
    }
  }
  .caption-mobile .filter-form{
    width: calc(100% - 17px);
    margin: 0;
  }
}

/*----------------------------media(576)------------------------------*/
@media only screen and(max-width: 576px){
  .header-registration .container-fluid, .header-loged .container-fluid{
    padding: 0;
  }
  .header-registration .registration .signin-res{
    font-size: 14px;
    margin-right: 5px;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content {
    h1{
      font-size: 32px;
      margin-bottom: 50px;
    }
    .tutors-nav {
      .nav-pills {
        margin-bottom: 5rem !important;
        .nav-item .nav-link {
          margin-right: 30px;
          font-size: 14px;
        }
      }
      .tab-content .tab-pane .removed-row .teacher {
        margin: 0 45px;
        margin-bottom: 40px;
        .blue-border {
          height: 150px;
          width: 150px;
        }
        .teacher-info {
          a {
            font-size: 20px;
          }
          p {
            font-size: 14px
          }
        }
      }
    }
    button{
      font-size: 16px;
      padding: 8px 35px;
    }
  }
  //internals------------------------
  .header-loged .account .account-nav .btn-special{
    width: auto;
  }
  .header-loged .account .account-nav .account-set{
    top: 13px !important;
  }
  .header-loged .account .account-nav .btn-group.show .btn:before{
    top: 38px;
  }
  .header-registration .nav-bar-display-logo, .header-loged .nav-bar-display-logo{
    width: 80px;
    .navbar-brand{
      width: 100%;
      height: 100%;
      img{
        width: 65%;
      }
    }
  }
  .header-loged .account .not-alert .btn-special-2 i{
    font-size: 14px;
  }
  .header-loged .account .not-alert .notification-icn{
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  .header-loged .account .account-nav .btn-special{
    padding: 0;
    font-size: 12px;
  }
  .account .sr-input-res button{
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .header-loged .account .not-alert .account-not{
    top: 13px !important;
  }
  .header-loged .account .not-alert .btn-group.show .btn:before{
    top: 39px;
  }
  .about-us .about-us-content .blocks .our-mission p img{
    width: 5%;
    margin-right: 15px;
  }
  //.internals-header{
  //  margin-top: 61px;
  //}
  .internals-header nav .breadcrumb{
    display: none;
  }
  //-----------blog-detail-----
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .blog-details-blocks-in-img{
    height: 240px;
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in .absolute-date{
    top: 240px;
  }
  .blog-details .blog-details-content .blog-details-rest .blog-details-blocks .blog-details-blocks-in article{
    font-size: 13px;
  }
  .internals-header {
    h1 {
      font-size: 24px;
    }
  }
  .contact-us .contact-us-content{
    .contact-info {
      padding-left: 0;
      h2{
        font-size: 20px;
      }
      .blue-border-r {
        .t-cells{
          margin-bottom: 27px;
          p{
            font-size: 14px;
          }
        }
      }
    }
    .student-write{
      padding-left: 0;
      h2{
        font-size: 20px;
      }
      .fill-in button{
        padding: 6px 30px;
        font-size: 16px;
      }
    }
  }
  .edit-profile .edit-profile-content .edit-profile-form .add-degree{
    margin-bottom: 30px;
  }
  .edit-profile .edit-profile-content .edit-profile-form .close-degree{
    margin-bottom: 10px;
  }
  .faq .faq-content .after-line .faqs{
    margin-bottom: 60px;
    h3{
      font-size: 18px;
    }
    p{
      font-size: 12px;
    }
  }
  .faq .faq-content .recent-questions{
    h2{
      font-size: 16px;
      margin-top: 90px;
    }
    p{
      font-size: 12px;
    }
  }
  .input-special-res{
    margin-top: 0;
  }
  .label-special-res{
    margin-top: 60px;
  }
  .my-account-info .my-account-info-content .student-info {
    .single-info{
      label{
        font-size: 14px;
      }
      p{
        font-size: 14px;
      }
    }
    .prof-edit button{
      padding: 4px 40px;
    }
  }
  .recent-requests .recent-requests-content .recents-req {
    .requests-img-sp{
      justify-content: center;
      margin-bottom: 20px;
    }
    .tutor-applicant-bio{
      text-align: center;
    }
    .tutor-submit{
      margin: 25px auto 10px;
      button{
        margin: 0;
      }
    }
  }
  .rec-sp{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
  }
  .drops-t .select-styled{
    z-index: 1;
  }
  .recent-requests .recent-requests-content .search-form .drops-t input{
    margin-top: 0;
  }
  .special-mr{
    margin-bottom: 0;
  }
  .recent-requests .recent-requests-content .search-form .submit-one{
    margin: 10px auto;
  }
  .sec-content .container-fluid .myrow .close-wrapper{
    margin-top: -260px;
  }
  .sec-content .container-fluid .myrow{
    margin: 0 0 10px;
  }
  .recent-requests .recent-requests-content .search-form .drops-t{
    .destination_location-res{
      margin-top: 15px;
    }
  }
  .modal-dialog{
    margin: auto;
  }
  .login .email-pass-inp-2 input{
    height: 40px;
    &::placeholder{
      font-size: 14px;
    }
  }
  .remember-me input + label, .login .submit-button-2 button, .login .dont-have-acc-2, .login .forgot-pass-2, .login .first-time p{
    font-size: 14px;
  }
  .login .login-opt-2{
    font-size: 14px;
    padding: 0;
  }
  .login .first-time h3{
    font-size: 18px;
  }
  .login .first-time{
    margin: 35px auto;
  }
  .sec-content .container-fluid .row #fullpage .section .row .section-content{
    padding-left: 15px!important;
    padding-right: 15px!important;
    padding-top: 35px;
  }
  .recent-requests .recent-requests-content .search-form .drops-t{
    margin-bottom: 15px;
  }
  .close-wrapper{
    left: 50%;
    transform: translateX(-50%);
  }
  .open-search{
    width: 100% !important;
  }

  .about-us .about-us-content .blocks h2{
    font-size: 20px;
  }
  .about-us .about-us-content .blocks .what-is-tutors article, .about-us .about-us-content .blocks .our-mission article, .about-us .about-us-content .blocks .Consultation .free-start article{
    font-size: 14px;
  }
  .caption-mobile{
    h1{
      font-size: 18px;
    }
  }
  .sec-content .container-fluid .row #fullpage .section .just-one{
    min-height: 30vh;
  }
}

/*----------------------------media(480)------------------------------*/
@media only screen and(max-width: 480px) {
  .header-registration .registration .signin-res{
    font-size: 12px;
    margin-right: 0;
  }
  .contact-us .contact-us-content .contact-info h2{
    font-size: 18px;
  }
  .contact-us .contact-us-content .student-write h2{
    font-size: 18px;
  }
  .contact-us .contact-us-content .student-write .fill-in input{
    &::placeholder{
      font-size: 12px;
    }
  }
  .contact-us .contact-us-content .student-write .fill-in textarea{
    height: 100px;
    &::placeholder{
      font-size: 12px;
    }
  }
  .faq .faq-content .after-line .faqs h3{
    font-size: 16px;
  }
  .responsive-ads div img{
    width: 100%;
  }
  .header-loged .account{
    margin-right: 3px;
  }
  //--------------------------------
  .fancybox-inner .fancybox-stage .fancybox-content{
    height: 100% !important;
  }
  .panel .panel-body{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .panel .panel-body .croppie-container{
    width: 180px!important;
    padding: 15px;
    .cr-boundary{
      width: 150px!important;
      height: 150px!important;
    }
    .cr-viewport{
      width: 100px!important;
      height: 100px!important;
    }
  }
  .panel .panel-body #upload{
    //display: inline-block;
    width: 70%;
    //transform: translateX(15%);
  }
  .panel .panel-body .sp-3balls{
    bottom: -15px;
  }
}
/*----------------------------media(360)------------------------------*/
@media only screen and(max-width: 360px) {
  .sec-content .container-fluid .row #fullpage .section .row .section-content .requests .requests-img img{
    width: 100%;
  }
}
/*----------------------------media height (600)------------------------------*/
@media only screen and(max-height: 600px){
  .footer-sol-index{
    min-height: 100% !important;
    height: auto;
  }
  .sec-content .container-fluid .row #fullpage .section .row .ads{
    height: auto;
  }
}

//------------------------------------------------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  .header-registration{
    display: -ms-flexbox;
    height: 54px;
  }
  .header-loged{
    display: -ms-flexbox;
    height: 54px;
  }
  .header-registration .sr-input {
    display: -ms-flexbox;
    align-items: center;
    input{
      &::placeholder{
        color: #fff;
      }
    }
  }
  .header-loged .sr-input {
    display: -ms-flexbox;
    align-items: center;
    input:-ms-input-placeholder {
      color: #fff;
    }
  }

}

@supports (-ms-accelerator:true){
  .header-registration{
    display: -ms-flexbox;
    height: 54px;
  }
  .header-loged{
    display: -ms-flexbox;
    height: 54px;
  }
}