@import "variables";
@import "mixins";
@import "general";
@import "header-footer";
@import "main";
@import "responsive";



//--fonts
@font-face {
  font-family: 'font-regular';
  src: url('../fonts/Philosopher-Regular.ttf');
}

@font-face {
  font-family: 'font-bold';
  src: url('../fonts/Philosopher-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}